{% raw %}
{% extends 'base.html' %}
{% block title %}{{ _('Register') }}{% endblock title %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
    <h3 class="text-info">{{ _('Register') }}</h3>
    <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
        {{ register_user_form.hidden_tag() }}
        {{ render_field_with_errors(register_user_form.email) }}
        {{ render_field_with_errors(register_user_form.password) }}
        {% if register_user_form.password_confirm %}
            {{ render_field_with_errors(register_user_form.password_confirm) }}
        {% endif %}
        {{ render_field(register_user_form.submit, class_="btn btn-primary") }}
    </form>

    <div class="row">
        <a class="btn btn-link text-info col-md-1" href="{{ url_for_security('login') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">{{ _('Login') }}</a>

      {% if security.recoverable %}
        <a class="btn btn-link text-info col-md-2" href="{{ url_for_security('forgot_password') }}">{{ _('Forgot password') }}</a>
      {% endif %}

      {% if security.confirmable %}
          <a class="btn btn-link text-info col-md1" href="{{ url_for_security('send_confirmation') }}">{{ _('Confirm account') }}</a>
      {% endif %}
    </div>
{% endblock content %}
{% endraw %}
