<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <title>{{cookiecutter.project_slug}} - {% block page_title %}{% endblock %}</title>

    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}{% endblock %}">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{ stylesheet_tag('app_styles') | safe }}
    {% block css %}{% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {% include '_nav.html' %}

    <div class="container">
      <header>{% block header %}{% endblock %}</header>

      <main role="main">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              <div class="row">
                <div class="col-md-12">
                  {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                      <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
                      {{ message }}
                    </div>
                  {% endfor %}
                </div>
              </div>
          {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
      </main>
    </div>

    {{ javascript_tag('app_scripts') | safe }}
    {% block js %}{% endblock %}
  </body>
</html>
